<div style="padding-top: 75px;">
 <div class="container">
  <h1><%= @user.first_name %> <%= @user.last_name %>'s Profile</h1>
  <div class = "Avatar">
    <%= cl_image_tag(@user.avatar) %>
  </div>
  email: <%= @user.email %><br>
  address: <%= @user.city %><br>
  bio: <%= @user.bio %><br>
  rating: <%= @user.rating %><br>
 </div>
</div>

