<div class="banner" style="background-image: url( <%= image_path "bannerv1.svg" %>);">
  <div class='container'>
    <div class="frostedback01" style="overflow-y: scroll; height:500px;">
      <h1>What do you need help with?</h1>
      <%= simple_form_for @task do |f| %>
      <%= f.input :title, placeholder: 'Enter a simple title, maximum 4 words'%>
      <%= f.input :address, label: 'Address:', placeholder: 'Checkpoint Charlie, Berlin, Germany'%>
      <%= f.input :post_code, placeholder: 'Post code'%>
      <%= f.input :date, placeholder: 'When will the event start?'%>
      <%= f.input :description, placeholder: 'Describe what you need help with in a form that is easy to understand.' %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.input :amount_coins, placeholder: '1 credit = 15 min'%>
      <%= f.button :submit, class: "btn btn-primary" %>
      <br>
      <br>
      <% end %>
    </div>
  </div>
</div>
