<div class="container">
  <br>
  <h1><%= @task[:title] %></h1>
  <br>
  <p><%= @task[:description] %></p>
  <br>

  <p><h5>Date:</h5> <%= @task[:date] %></p>
  <p><h5>Address:</h5> <%= @task[:address] %></p>
  <p><h5>Post code:</h5><%= @task[:post_code] %></p>
  <p><h5>Credits:</h5> <%= @task[:amount_coins] %></p>


  <div class="btn btn-primary">
    <%= link_to 'Offer to help', new_task_offer_path(@task), :class => "btn" %>
  </div>
</div>
