<div class="container-fluid new-design-show">
<% content_for :meta_title, "#{@task.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @task.description %>
<!-- #< content_for :meta_image, cl_image_tag(@task.photo) %> -->

  <div class="row">
  <div class="col-6">
    <div class="card-show">

    <div class="card-show-icons">
        <div class="avatar-show">
          <% if @task.user.avatar? %>
            <img src="<%=@task.user.avatar%>" >
          <% else %>
            <img src="https://via.placeholder.com/150" >
          <% end %>
        </div>
      <div class="title-container">
          <h1 class="color-blue"><%= @task[:title] %></h1><br>
          <p><%=@task[:address]%>, <%= @task[:post_code]%></p>
      </div>
      </div>


      <div class="uploaded-photo">
          <div class="description-new">
            <h2><%= @task[:description] %></h2>
          </div>

        <% if (@task[:photo] == nil) %>
        <img src="http://www.selfstoragespecialists.com/blog/wp-content/uploads/2016/03/bigstock-new-home-real-estate-moving-91410869.jpg">
        <% else %>
        <%= cl_image_tag(@task.photo) %>
        <% end %>
      </div>

      <div class="card-show-details">
        <div class="container">
          <div class="row">


            <div class="col-4">
              <h3>
                <div class="calendar-icon"><%= image_tag "calendar.png"%>
                </div>
                <%= @task[:date].strftime("%A, %d %b %Y")%>
              </h3>
            </div>

            <div class="col-4">
              <h3>
                <div class="clock-icon"><%= image_tag "clock.png"%></div>
                <%= @task[:date].strftime("%l:%M %p")%>
              </h3>
            </div>


            <div class="col-4">
              <h3>
                <div class="coin-icon"><%= image_tag "coin-icon.png"%></div>
                <%= @task[:amount_coins] %> credits
              </h3>
            </div>

          </div>
        </div>
      </div>

    </div>
    </div>

    <div class="col-6" style="padding-right: 0;">
      <div class="nav-container">
        <strong><h1>Offers</h1></strong>
      <div class="offers">
        <div class="offer-avatars">
          <% @task.users.each do |user| %>
          <div class="avatar-show-nav">
            <%= link_to profile_path(user) do %>
              <% if user.avatar? %>
                <%= cl_image_tag(user.avatar) %>
              <% else %>
                 <img src="https://via.placeholder.com/120" >
              <% end %>
            <% end %>
          </div>
          <%end%>
        </div>
          <div class="offer-comments">
            <% @task.offers.each do |offer| %>
              <div class="offer-lockup">
                <div class="comments-boxes">
                  <p><%= offer.comments%></p>
                </div>
                <% if @task.user == current_user %>
                  <% if offer.state == "pending" %>
                  <div class="choose_me_btn">
                    <p><%= link_to 'Accept', acceptoffer_path(offer), method: "patch" %></p>
                  </div>
                  <% elsif offer.state == "booked" %>
                  <div class="choose_me_btn-booked">
                    <p class="text-success">booked</p>
                  </div>
                  <% else offer.state == "rejected"%>
                  <div class=choose_me_btn-rejected>
                    <p class="text-danger">rejected</p>
                  </div>
                  <% end %>
                <% end %>
                </div>
            <%end%>
        </div>
      </div>
      <br>
      <br>
<!-- current user logic here -->
      <div class="nav-container-buttons">
        <% if (current_user.id == @task.user_id) %>
          <%= "You have created this task."%>
        <% elsif @no_offers %>
           <%= simple_form_for [@task, @offer] do |f| %>
            <%= f.input :comments, label: 'Do you want to help?', placeholder: "Offer your help to this person" %>
            <%= f.submit "Send Offer", class: "btn btn-primary" %>
          <% end %>
        <% else %>
            <%= "You have already sent an offer to this person."%>
        <% end %>

      </div>
<!-- end current user logic -->
    </div>
</div>
  </div>
</div>













