<div class="card-product-one">
  <%= link_to task_path(task) do %>
  <!-- <img src="https://picsum.photos/200"> -->
    <div class="card-product-infos">
      <h2><%= task.title %></h2>
      <p><%= task.date.strftime("%A, %d %b %Y %l:%M %p") %></p>
      <p>Coins: <%= task.amount_coins %></p>

      <div id ="dashboard_tasks_buttons">
        <ul class="list-inline">
          <li class="list-item"><%= link_to taskcomplete_path(task), method: "patch" do%><i class="far fa-check-circle"></i><% end %></li>
          <li class="list-item"><%= link_to edit_task_path(task) do %><i class="fas fa-pen"></i><% end %></li>
          <li class="list-item"><%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %> <i class="fas fa-trash"></i><% end %></li>
      </ul>
      <!-- <p><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></p> -->
    </div>

    <div class = "dashboard_all_offer_on_the_taks_card">
      <% task.users.take(3).each do |user| %>
      <div id = "avatar_card">
        <%= link_to cl_image_tag(user.avatar) %>

      </div>
      <%end%>
    </div>
    <!-- <div id ="see_all_offers">
      <%= link_to 'see_all_offers', task_offers_path(@tasks), method: "get"%>
    </div> -->
    <%end %>
</div>
</div>


