<div class="card-product-one">

  <!-- <img src="https://picsum.photos/200"> -->
  <div class="card-product-infos">
    <%= link_to task_path(task) do %>
      <p class="date-task-card"><%= task.date.strftime("%A, %d %b %Y %l:%M %p") %></p>
      <h2><%= task.title %></h2>
      <%if task.completed == true %>
       <div class =colorful_dashboard>
        <p>You already completed this task!</p>
        <% helper = task&.offers.where(state: "booked").first&.user %>
        <% if helper %>
        <p> <%= helper.first_name %> received <%=task.amount_coins%> coin<%if task.amount_coins > 1 %><%="s"%> <%else%><%=""%><%end%> from you.</p>
        <% end %>
      </div>
      <%else%>
        <p><b><%= task.users.count %></b> people have offered to help you<%if task.users.count > 0 %><%="!"%> <%else%><%="."%><%end%></p>
      <% end %>
      <p>Coins: <%= task.amount_coins %></p>
    <%end %>
  </div>

  <div id ="complete_buttom_dashboard">
    <% if task.completed == true %>
      <div class="completed">
        <div class="c-icon"><i class="far fa-smile"></i></div>
        <p>Completed</p>
      </div>
  <% else %>

    <% if task.offers.present? %>
      <% task.offers.each do |off| %>
        <% if (off.state == "booked") %>
          <%= link_to taskcomplete_path(task), :method => :patch do %>
          <div class="transfer">
            <div class="t-icon"><i class="fas fa-exchange-alt"></i></div>
            <p style="margin-left: 10px;">Transfer Now</p>
           <!--  <span class="tooltiptext">Tooltip text</span> -->
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% end %>

  </div>
  <% if task.offers.present? %>
  <% task.offers.each do |off| %>
    <% if ( off.state != "booked" ) %>
      <div class = "see_all_offers">
        <%= link_to task_path(task) do %>
          <h4>View All Offers</h4>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>


</div>


