<div class="infowindow d-flex align-items-center">
  <div class="">
    <img class="markerImage"s src="<%= task.user.avatar %>" alt="<%= task.user.first_name %>"><br>
    <strong><%=task.user.first_name %></strong>
  </div>

  <div class="col infowindowtext">
    <%= task.title %><br><br>
    <%= task.description %>
  </div>
</div>
