<div style="padding-top: 75px;">
<h1><%= @user.first_name %> <%= @user.last_name %>'s Profile</h1>
<br>
<strong>Email: </strong><%= @user.email %><br>
<strong>Address: </strong><%= @user.city %><br>
<strong>Bio: </strong><%= @user.bio %><br>
<strong>Rating: </strong><%= @user.rating %><br>
<%= link_to 'Edit your profile', edit_user_registration_path(@user) %>
</div>
