<div class="profile_bg" style="padding-top: 100px; height: 550px">
  <div class="profile-container">
    <div class="row">

      <div class="col-md-6 img">
        <div class="avatar-square">
          <%= cl_image_tag(user.avatar, class: 'avatar-square', crop: 'crop',  gravity: :face) %>
        </div>
        <br>
        <h1><%= user.first_name %></h1>
        <h5><%= user.city %></h5>
        <h6><%= user.rating %></h6>
      </div>

      <div class="col-md-6 details">
        <p>
          <%= user.bio %>
        </p>
        <blockquote>
          <cite title="Quote"><%= user.quote %><i class="icon-map-marker"></i></cite>
        </blockquote>
      </div>

    </div>
  </div>
</div>
