  <div class="task-container">
    <div class="column">
      <% @tasks.each do |task| %>
      <%# user = User.find(task.user_id) %>
        <%= link_to task_path(task) do %>
          <div class="card-search">
            <% if (task[:photo] == nil) %>
              <img src="http://www.selfstoragespecialists.com/blog/wp-content/uploads/2016/03/bigstock-new-home-real-estate-moving-91410869.jpg">
            <% else %>
              <%= cl_image_tag task.photo %>
            <% end %>
              <div class="card-search-infos">
                <div class="card-search-text">
                  <h1 class="color-blue"><%= task.title %></h1>
                  <h2 class="color-mute"><%= task.date.strftime("%A, %d %b %Y %l:%M %p") %></h2>
                </div>
                   <div class="card-search-amount-coins">
                      <h2>Coins:</h2>
                      <br>
                      <h2><%= task.amount_coins %></h2>
                    </div>
                <%#= cl_image_tag current_user.avatar, class: "card-search-user avatar-bordered" %>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
