<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
   <h1>Tasks</h1>

<ul>
  <%@tasks.each do |task|%>
  <li><%=task.description%></li>
  <%end%>
</ul>


<%= link_to('Register', new_user_registration_path) %>                  <!-- new user registration path -->

<%= cl_image_tag("yvo5p4pkxytmfcb0yplg",                                <!-- this is render for image on cloudinary -->
width: 400, height: 300, crop: :fill) %>

<%= render 'pages/shared/photoUploadForm', user: @user %>               <!-- this is the render for photo upload form -->

<%= link_to "New task", task_new_path, class: 'button' %>               <!-- this is the link to create new user account -->
