

<div style="padding-top: 75px;"">
<div class = "dashboard_background">
<div class = "avatar_dashboard_pos">
  <img src="<%=current_user.avatar%>" class ="avatar-dashboard" >
</div>

</div>

<div class ="coins_pos">
  <div class = "coins">
    <h2><%=current_user.coins%> coins</h2>
  </div>
</div>

<!-- <div class ="bio_word_pos">
  <h3>Bio:</h3>
</div>
<div class = "bio">
<p><%=current_user.bio%></p>
<%= link_to 'Edit your profile(bio)', edit_user_registration_path(@user) %>
</div> -->

<div class = "main-container">
  <div class = "tasks">
    <h1>My tasks:</h1>
    <% @tasks.each do |task| %>
      <div class="card-product">
        <img src="https://picsum.photos/200">
        <div class="card-product-infos">
          <h2><%= task.title %></h2>

          <p><%= task.date %></p>
          <div>
            <% task.users.each do |user| %>
            <div id = "avatar_card"><%= cl_image_tag(user.avatar) %>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class = "tasks">
    <h1>My offers:</h1>
    <% @offers.each do |offer| %>
      <div class="card-product">
        <img src="https://picsum.photos/200">
        <div class="card-product-infos">
          <h2><%= offer.task.title %></h2>
          <p><%= offer.task.address %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

