

<div style="padding-top: 75px">
<div class = "dashboard_background" style="background-image: linear-gradient(-45deg, #52759778, #85bae478), url(<%= image_path "berlin.jpg" %>);">
  <div class = "my_name">
    <h1 class="color-dark-blue coin-number"> <%= current_user.coins %> <span>Coins</span></h1>
    <h1> <span>Welcome to your dashboard, <%=current_user.first_name%> <%=current_user.last_name%><span></h1>
  </div>
</div>


<div class = "daashboard">
  <div class = "tasks_dashboard_position">
    <div class = "tasks_dashboard">
      <h1 class="color-blue" style = "left:50px">Tasks you created</h1>
      <p class="color-mute">You have asked for help with these tasks</p>
    </div>
        <% @tasks.each do |task| %>
          <%= render 'dashboards/shared/dashboard-taskcard', task: task %>
        <% end %>
  </div>


  <div class = "offers_dashboard_position">
    <div class = "offers_dashboard">
      <h1 class="color-blue">Offers you made</h1>
    </div>
      <% @offers.each do |offer| %>
        <%= render 'dashboards/shared/dashboard-offercard', offer: offer %>
      <% end %>
  </div>
</div>
