

<div style="padding-top: 75px">
<div class = "dashboard_background">
  <div class = "my_name">
    <h1 class="color-dark-blue coin-number"> <%= current_user.coins %> <span>Coins</span></h1>
    <h1 class="color-mute"> <span><%=current_user.first_name%> <%=current_user.last_name%><span>, welcome to your dashboard!</h1>
  </div>
</div>


<div class="dashboard-headers">
  <div class = "main-container-headers">
    <h1 class="color-blue">You have created <span class="color-dark-blue"><%= @tasks.count %></span> task<%if @tasks.count > 1%><%= 's'%><%else%><%= '' %><%end%>:</h1>
  </div>

  <div class = "main-container-headers">
    <h1 class="color-blue">You have created <span class="color-dark-blue"><%= @offers.count %></span> offer<%if @offers.count > 1%><%= 's'%><%else%><%= '' %><%end%>: </h1>
  </div>
</div>

<div class="dashboard_all_cards">
  <div class = "main-container">
    <div class = "tasks">
      <% @tasks.each do |task| %>
        <%= render 'dashboards/shared/dashboard-taskcard', task: task %>
      <% end %>
    </div>
  </div>

  <div class = "main-container">
    <div class = "tasks">
      <% @offers.each do |offer| %>
        <%= render 'dashboards/shared/dashboard-offercard', offer: offer %>
      <% end %>
    </div>
  </div>
</div>
