

<div style="padding-top: 75px;"">
<div class = "dashboard_background">
<div class = "avatar_dashboard_pos">
  <img src="<%=current_user.avatar%>" class ="avatar-dashboard" >
</div>

</div>

<div class ="coins_pos">
  <div class = "coins">
    <h2><%=current_user.coins%> coins</h2>
  </div>
</div>

<!-- <div class ="bio_word_pos">
  <h3>Bio:</h3>
</div>
<div class = "bio">
<p><%=current_user.bio%></p>
<%= link_to 'Edit your profile(bio)', edit_user_registration_path(@user) %>
</div> -->

<div class = "main-container">
<div class = "tasks">
<!-- <ul>
  <p>My tasks:</p>
  <% @tasks.each do |task| %>
    <li><%= task.title %></li>
  <% end %>
</ul> -->
  <%= render 'shared/task-card-small', tasks: @tasks %>
</div>

<div class = "offers">
<ul>
  <p>My offers:</p>
  <% @offers.each do |offer| %>
    <li><%= offer.state %></li>
    <% end %>
</ul>
</div>
</div>
</div>

