

<div style="padding-top: 75px;"">
<div class = "dashboard_background">
<div class = "avatar_dashboard_pos">
  <img src="<%=current_user.avatar%>" class ="avatar-dashboard" >
</div>
</div>

<div class = "my_name">
  <h1><%=current_user.first_name%> <%=current_user.last_name%></h1>
</div>

<div class = "heartbeat">
<div class ="coins_pos">
  <div class = "coins">
    <h2><%=current_user.coins%> coins</h2>
  </div>
</div>
</div>

<div class="dashboard_all_cards">
  <div class = "main-container-headers">
    <h1>You have created <i class = "heartbeat"><span><%= @tasks.count %></span></i> task(s):</h1>
  </div>

  <div class = "main-container-headers">
    <h1>You have created <i class = "heartbeat"><span><%= @offers.count %></span></i> offer(s): </h1>
  </div>
</div>

<div class="dashboard_all_cards">
  <div class = "main-container">
    <div class = "tasks">
      <% @tasks.each do |task| %>
        <%= render 'dashboards/shared/dashboard-taskcard', task: task %>
      <% end %>
    </div>
  </div>

  <div class = "main-container">
    <div class = "tasks">
      <% @offers.each do |offer| %>
      <%= render 'dashboards/shared/dashboard-offercard', offer: offer %>
      <% end %>
    </div>
  </div>
</div>
